<nav-component></nav-component>
<br>
<div class="container">
	<div class="col-md-12">
		<table class="table">
		  <tbody>
		    <tr>
		      <th scope="col"  class="table-info" colspan="3"><div class="text-center">Emisión Notas de Crédito Electrónicas</div></th>
		    </tr>
		    <tr>
		      <th scope="row">Tipo de Nota de Crédito</th>
		      <td>:</td>
		      <td>
			    	<button  class="btn btn-primary" style="margin:2px 2px" (click)="anulacionOperacion()">Anulación de la Operación <span class="badge badge-light">1</span></button>
			    	<button  class="btn btn-primary" style="margin:2px 2px" (click)="anulacionErrorRuc()">Anulación por Error en el Ruc <span class="badge badge-light">2</span></button>
			    	<button  class="btn btn-primary" style="margin:2px 2px" (click)="descuentoGlobal()">Descuento Total <span class="badge badge-light">3</span></button>
			    	<button  class="btn btn-primary" style="margin:2px 2px" (click)="devolucionTotal()">Devolución Total <span class="badge badge-light">4</span></button>
			      	<button  class="btn btn-primary" style="margin:2px 2px" (click)="correcionErrorDescripcion()">Corrección por error en la Descripción <span class="badge badge-light">5</span></button>
			      	<button  class="btn btn-primary" style="margin:2px 2px" (click)="devolucionItem()">Devolución por item <span class="badge badge-light">6</span></button>
			      	<button  class="btn btn-primary" style="margin:2px 2px" (click)="descuentoItem()">Descuento por Item <span class="badge badge-light">7</span></button>
			 </td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
<app-anulacion-error-ruc-factura *ngIf="anulacion_error_ruc == true"></app-anulacion-error-ruc-factura>
<app-anulacion-operacion-factura *ngIf="anulacion_operacion == true"></app-anulacion-operacion-factura>
<app-coreccion-descripcion-factura *ngIf="correcion_error_descripcion == true"></app-coreccion-descripcion-factura>
<app-descuento-item-factura *ngIf="descuento_item == true"></app-descuento-item-factura>
<app-descuento-total-factura *ngIf="descuento_global == true"></app-descuento-total-factura>
<app-devolucion-item-factura *ngIf="devolucion_item == true"></app-devolucion-item-factura>
<app-devolucion-total-factura *ngIf="devolucion_total == true"></app-devolucion-total-factura>