<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<tbody>
				    <tr *ngIf="anulacion_operacion == true">
				      <th scope="row">Número de BE respecto de la cual se emite la Nota de Crédito</th>
				      <td><input type="text" class="form-control" #verificar_dos_nuevo [(ngModel)]="buscar_anulacion_operacion" (keydown.enter)="buscarAnulacionOperactionRuc()"></td>
				      <td><button class="btn btn-warning" (click)="verificarAnulacionOperacionDos(verificar_dos_nuevo.value)">Verificar</button></td>
				    </tr>
				    <tr *ngIf="anulacion_operacion_dos == true">
				    	<td>Motivo o Sustento por el cual se emitira la nota de Credito</td>
				    	<td colspan="2"><textarea name="" id="" cols="30" rows="2" class="form-control" [(ngModel)]="descripcion_operacion_anulacion"></textarea></td>
				    </tr>
				    <tr>
				    	<td colspan="2"  *ngIf="anulacion_operacion_dos == true"><button class="btn btn-danger" (click)="guardarAnulacionOperacioneBdController()">Guardar</button></td>
				    	<td *ngIf="imprimir_anulacion_operacion_dos == true && datos_opcionales.url == null"><button class="btn btn-success" (click)="imp()">Mandar Sunat</button></td>
				    	<td *ngIf="imprimir_anulacion_operacion_dos == true && datos_opcionales.url != null"><a class="btn btn-success" target="_blank" href="{{datos_opcionales.url}}">Imprimir</a></td>
				    </tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>
	    

<div class="modal fade" id="anulacionOperaciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Productos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Precio</th>
			      <th scope="col">Cantidad</th>
			      <th scope="col">Unidad</th>
			      <th scope="col">Representación</th>
			      <th scope="col">Stock</th>
			      <th scope="col">Anular</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let pedi_bus of pedido_anulacion_operacion; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td>{{pedi_bus.nombre_producto}}</td>
			      <td>S/. {{pedi_bus.precio}}</td>
			      <td>{{pedi_bus.cantidad}}</td>
			      <td>{{pedi_bus.nombre_unidad}}</td>
			      <td>{{pedi_bus.representacion}}</td>
			      <td>{{pedi_bus.stock}}</td>
			      <td *ngIf="pedi_bus.estado == '1'"><button class="btn btn-danger" (click)="anularItemOperacion(pedi_bus.id)">Anular</button></td>
			      <td *ngIf="pedi_bus.estado == '4'">Anulado</td>
			    </tr>
			  </tbody>
			</table>
			<div *ngIf="ticket_anulacion_operacion?.estado_id == 1"><button class="btn btn-success" (click)="desactualizarTicket()">Actualizar Ticket</button></div>
			<div *ngIf="ticket_anulacion_operacion?.estado_id == 4"><button class="btn btn-success">Ticket Desactivado</button></div>
      </div>
    </div>
  </div>
</div>