<nav-component></nav-component>
<br>
<div class="container">
	<div class="row" *ngIf="inicio == true">
		<div class="col-md-12">
			<h1 class="text-center">Total: {{total}}</h1>
		</div>
		<div class="col-md-12">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Tipo Documento</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Total</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let up of ticket; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td [routerLink]="['/caja-editar', up.id]">{{up.dni_ruc}}</td>
			      <td>{{up.nombre}}</td>
			      <td>S/. {{up.total| number:'1.0'}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="row" *ngIf="inicio == false"><div class="loader" id="loader">Loading...</div></div>
</div>
