<nav-component></nav-component>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="h3 mb-3 font-weight-normal text-center" style="color: red">BIENVENIDOS A CAJA</h1>
		</div>
		<div class="col-md-12"><br></div>
		<div *ngFor="let up of ticket" class="col-md-3">
			<p style="background: #17a2b8; color: white; padding: 15px" class="text-center" [routerLink]="['/caja-editar', up.id]">
			  {{up.numero}}<br> <span class="badge badge-light">{{up.date}}</span>
			</p>
		</div>
	</div>
</div>
