<nav-component></nav-component>
<br>
<div class="container">
	<div class="col-md-12">
		<table class="table">
		  <tbody>
		    <tr>
		      <th scope="col"  class="table-info" colspan="3"><div class="text-center">Emisión Noas de Crédito Electrónicas</div></th>
		    </tr>
		    <tr>
		      <th scope="row">Tipo de Nota de Crédito</th>
		      <td>:</td>
		      <td><div class="form-group">
			    <select class="form-control" id="exampleFormControlSelect1">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </div></td>
		    </tr>
		    <tr>
		      <th scope="row">Número de FE respecto de la cual se emite la Nota de Crédito</th>
		      <td>E001</td>
		      <td><input type="text" class="form-control"></td>
		    </tr>
		    <tr>
		    	<td>Motivo o Sustento por el cual se emitira la nota de Credito</td>
		    	<td colspan="2"><textarea name="" id="" cols="30" rows="10" class="form-control"></textarea></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>