<nav-component></nav-component>
<br>
<div class="container">
	<div class="col-md-12">
		<table class="table">
		  <tbody>
		    <tr>
		      <th scope="col"  class="table-info" colspan="3"><div class="text-center">Emisión Notas de Crédito Electrónicas - BOLETA</div></th>
		    </tr>
		    <tr>
		      <th scope="row">Tipo de Nota de Crédito</th>
		      <td colspan="2">
			    	<button  class="btn btn-primary" style="margin:2px 2px" (click)="anulacionOperacion()">Anulación de la Operación <span class="badge badge-light">1</span></button>
			    	<button  class="btn btn-primary" style="margin:2px 2px" (click)="anulacionErrorRuc()">Anulación por Error en el Ruc <span class="badge badge-light">2</span></button>
			    	<button  class="btn btn-primary" style="margin:2px 2px" (click)="devolucionTotal()">Devolución Total <span class="badge badge-light">3</span></button>
			      	<button  class="btn btn-primary" style="margin:2px 2px" (click)="correcionErrorDescripcion()">Corrección por error en la Descripción <span class="badge badge-light">4</span></button>
			      	<button  class="btn btn-primary" style="margin:2px 2px" (click)="devolucionItem()">Devolución por item <span class="badge badge-light">5</span></button>
			 </td>
		    </tr>


		  </tbody>
		</table>
	</div>
</div>
	<app-anuluacion-operacion *ngIf="anulacion_operacion == true"></app-anuluacion-operacion>
	<app-anuluacion-error-ruc *ngIf="anulacion_error_ruc == true"></app-anuluacion-error-ruc>
	<app-devolucion-total *ngIf="devolucion_total == true"></app-devolucion-total>
	<app-correcion-descripcion *ngIf="correcion_error_descripcion == true"></app-correcion-descripcion>
	<app-devolucion-item *ngIf="devolucion_item == true"></app-devolucion-item>
