<nav-component></nav-component>
<br>
<div class="container-fluid">
	<div class="row" *ngIf="inicio == false">
		<div class="loader" id="loader">Loading...</div>
	</div>
	<div class="row" *ngIf="inicio == true">
		<div class="col-md-12" *ngIf="tipo_pago?.estado_id == 3">
			<h3 class="text-center" *ngIf="boleta_factura == 'b'">GENERAR BOLETA B{{numero_boleta_factura+1}}</h3><br>
			<h3 class="text-center" *ngIf="boleta_factura == 'f'">GENERAR FACTURA F{{numero_boleta_factura+1}}</h3><br>
		</div>
		<div class="col-md-12" *ngIf="tipo_pago?.estado_id == 1" style=" display: flex;justify-content: center;align-items: center;">
			<h3>{{tipo_pago?.serie}}</h3>
			<button *ngIf="tipo_pago?.url == null"class="btn btn-warning" (click)="imprimirFacturaOBoleta()">Imprimir</button>
			<div *ngIf="tipo_pago?.url != null"><a class="btn btn-success" href="{{tipo_pago?.url}}" target="_blank">Imprimir</a></div>
		</div>
		<div class="col-md-6" style="display: flex;justify-content: center;"  *ngIf="tipo_pago?.estado_id == 3">
			<button class="btn btn-info btn-block font-weight-normal text-center" style="color: white;" (click)="mandarCaja()">VERIFICAR</button><br><br><br>
		</div>
		<div class="col-md-6" style="display: flex;justify-content: center;" *ngIf="imprimir == 1 && tipo_pago?.estado_id == 3 && boleta_factura == 'b'">
			<input type="hidden" #obtenerBoleta value="BBB1{{numero_boleta_factura+1}}">
			<button class="btn btn-danger btn-block font-weight-normal text-center" style="color: white;" (click)="imprimirFac(obtenerBoleta.value)">GENERAR</button><br><br><br>
		</div>
		<div class="col-md-6" style="display: flex;justify-content: center;" *ngIf="imprimir == 1 && tipo_pago?.estado_id == 3 && boleta_factura == 'f'">
			<input type="hidden" #obtenerFactura value="FFF1{{numero_boleta_factura+1}}">
			<button class="btn btn-danger btn-block font-weight-normal text-center" style="color: white;" (click)="imprimirFac(obtenerFactura.value)">GENERAR</button><br><br><br>
		</div>
		<div class="col-md-12">
		<br><br>
		</div>
		<div class="col-md-6">
			<h1 class="h2 mb-3 font-weight-normal text-center" style="color: red"><u>Lista de Pedido</u>
			S/. {{total?.total | number:'1.0'}}</h1>
			<table class="table"  *ngIf="introduccion == true">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Producto</th>
			      <th scope="col">Unidad</th>
			      <th scope="col">Cantidad</th>
			      <th scope="col">Stock</th>
			      <th scope="col">Pagar</th>
			      <th scope="col">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let pedi of pedido; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td *ngIf="pedi.estado == 1" class="table-success">{{pedi.nombre_producto}}</td>
			      <td *ngIf="pedi.estado == 2" class="table-danger">{{pedi.nombre_producto}}</td>
			      <td>{{pedi.nombre_unidad}}</td>
			      <td *ngIf="pedi.estado == 2"><input type="text" value="{{pedi.cantidad}}" class="form-control" #cantidad_actualizar placeholder="Cantidad" (keyup.enter)="actualizarPedidoAlCarrito(pedi.id,cantidad_actualizar.value,pedi.precio_producto, pedi.representacion, pedi.id_producto_sucursal)"></td>
			      <td *ngIf="pedi.estado == 1">{{ pedi.cantidad}}</td>
			      <td>{{ pedi.stock}}</td>
			      <td>S/. {{ pedi.precio}}</td>
			      <td *ngIf="pedi.estado == 2"><button class="btn btn-warning btn-block" (click)="eliminarPedidoCarritoCompras(pedi.id)">Eliminar</button></td>
			      <td  *ngIf="pedi.estado == 1"><button class="btn btn-info btn-block" >Verificado</button></td>
			    </tr>
			  </tbody>
			</table>
			<div *ngIf="introduccion == false">
				<div class="loader" id="loader">Loading...</div>
			</div>
		</div>
		<div class="col-md-6">
			<h1 class="h2 mb-3 font-weight-normal text-center" style="color: red"><u>CLIENTE</u></h1>
			<div class="row">
				<div class="col-md-6">
					<p>Documento: {{tipo_pago?.dni_ruc}}</p>
				</div>
				<div class="col-md-6">
					<p>Nombre: {{tipo_pago?.nombre}}</p>
				</div>
				<div class="col-md-6">
					<p>Dirección: {{tipo_pago?.direccion}}</p>
				</div>
			</div>
			<h1 class="h2 mb-3 font-weight-normal text-center" style="color: red"  *ngIf="tipo_pago?.estado_id == 3"><u>Tipo de Pago</u></h1>
			<div class="row"  *ngIf="tipo_pago?.estado_id == 3 && tipo_pago_cargar == true">
				<div class="col-md-4"></div>
				<div class="col-md-4">
				  <div class="form-group">
					  <div class="form-group">
					  	<p class="h4 mb-3 font-weight-normal text-center"  style="color: green" *ngIf="tipo_pago.tipo_pago">{{tipo_pago?.tipo_pago}}</p>
					  	<span *ngIf="!tipo_pago.tipo_pago">Falta agregar el Tipo de Pago</span>
					    <select  *ngIf="!tipo_pago.tipo_pago" class="form-control" ngModel (ngModelChange)="agregarTipoPago($event)">
					      <option value="Tarjeta">Tarjeta</option>
					      <option value="Efectivo">Efectivo</option>
					    </select>
					  </div>
				  </div>

				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row" *ngIf="tipo_pago_cargar == false">
				<div class="loader" id="loader">Loading...</div>
			</div>
			<h1 class="h2 mb-3 font-weight-normal text-center" style="color: red"  *ngIf="imprimir != 1 && tipo_pago?.estado_id == 3"><u>Buscar Producto</u></h1>
			<div class="row"  *ngIf="imprimir != 1 && tipo_pago?.estado_id == 3">
				<div class="col-md-6">
				  <div class="form-group">
				    <label for="inputPassword2" class="sr-only">Nombre</label>
				    <input type="text" class="form-control" #nombre_buscar placeholder="Nombre Producto" (keydown.enter)="buscarNombre(nombre_buscar.value)">
				  </div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
					    <label for="inputPassword2" class="sr-only">Código</label>
					    <input type="text" class="form-control" #codigo_buscar placeholder="Producto Código de Barras" (keydown.enter)="buscarCodigo(codigo_buscar.value)">
					</div>
				</div>
			</div>
		</div>
		</div>
</div>
<div class="modal fade" id="tabla_precios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="row" *ngIf="cargar_modal_producto == true">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Nombre</th>
			      <th scope="col">Precio</th>
			      <th scope="col">Cantidad</th>
			      <th scope="col">Unidad</th>
			      <th scope="col">Representación</th>
			      <th scope="col">Stock</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let pedi_bus of pedido_buscado; index as i">
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'">{{pedi_bus.nombre}}</td>
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'">S/. {{pedi_bus.precio}}</td>
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'"><input type="text" class="form-control" #cantidad_agregar placeholder="Cantidad" (keyup.enter)="agregarPedidoAlCarrito(pedi_bus.id_producto_unidad,cantidad_agregar.value, pedi_bus.representacion, pedi_bus.precio, pedi_bus.producto_id,pedi_bus.id_producto_sucursal)"></td>
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'">{{pedi_bus.nombre_unidad}}</td>
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'">{{pedi_bus.representacion}}</td>
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'">{{pedi_bus.stock}}</td>
			    </tr>
			  </tbody>
			</table>
      	</div>
      	<div class="row" *ngIf="cargar_modal_producto == false">
				<div class="loader" id="loader">Loading...</div>
			</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" (click)="cerrarModalPrecio()">Cerrar</button>
      </div>
    </div>
  </div>
</div>