<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<tbody>
				    <tr *ngIf="correcion_error_descripcion == true">
				      <th scope="row">Número de BE respecto de la cual se emite la Nota de Crédito</th>
				      <td scope="2"><input type="text" class="form-control" [(ngModel)]="buscar_anulacion_operacion" (keydown.enter)="buscarAnulacionOperactionRuc()"></td>
				    </tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>
<div class="modal fade" id="anulacionErrorRuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Productos</h5>
        <button type="button" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Precio</th>
			      <th scope="col">Cantidad</th>
			      <th scope="col">Unidad</th>
			      <th scope="col">Representación</th>
			      <th scope="col">Stock</th>
			      <th scope="col">Nuevo Nombre</th>
			      <th scope="col">Estado</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let pedi_bus of pedido_anulacion_error_ruc; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td>{{pedi_bus.nombre_producto}}</td>
			      <td>S/. {{pedi_bus.precio}}</td>
			      <td>{{pedi_bus.cantidad}}</td>
			      <td>{{pedi_bus.nombre_unidad}}</td>
			      <td>{{pedi_bus.representacion}}</td>
			      <td>{{pedi_bus.stock}}</td>
			      <td *ngIf="pedi_bus.estado == '1'"><textarea class="form-control" cols="30" rows="2" disabled></textarea></td>
			      <td *ngIf="pedi_bus.estado == '4'">{{pedi_bus.nombre_corregido}}</td>
			      <td *ngIf="pedi_bus.estado == '5'">{{pedi_bus.nombre_corregido}}</td>
			      <td *ngIf="pedi_bus.estado == '1'"><button class="btn btn-danger" (click)="anularItemOperacion(pedi_bus.id)">Anular</button></td>
			      <td *ngIf="pedi_bus.estado == '5'"><button class="btn btn-danger" (click)="anularItemOperacion(pedi_bus.id)">Anular</button></td>
			      <td *ngIf="pedi_bus.estado == '4'"><button class="btn btn-warning" (click)="actulizarItemOperacionController(pedi_bus.id)">Actualizar</button></td>
			    </tr>
			    <tr>
			    	<td colspan="9"><button class="btn btn-warning" (click)="verificarAnulacionOperacionDos(ticket_anulacion_error_ruc?.serie)">Verificar</button></td>
			    </tr>
			    <tr *ngIf="correcion_error_descripcion_dos == true">
			    	<td colspan="5">Motivo o Sustento por el cual se emitira la nota de Credito</td>
				    <td colspan="4"><textarea cols="30" rows="2" class="form-control" [(ngModel)]="descripcion_operacion_anulacion"></textarea></td>
			    </tr>
				<tr>
				    <td colspan="5"  *ngIf="correcion_error_descripcion_dos == true"><button class="btn btn-info" (click)="guardarAnulacionOperacioneBdController()">Guardar</button></td>
				    <td colspan="4" *ngIf="imprimir_anulacion_error_ruc == true"><button class="btn btn-success">Imprimir</button></td>
				    </tr>
			  </tbody>
			</table>
			
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="acu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Actualizar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<p>{{data?.nombre}}</p>
			<textarea cols="30" rows="10" class="form-control" [(ngModel)]="enviar_nueva_descripcion">{{data?.nombre_corregido}}</textarea>
			<button class="btn btn-info" (click)="cambiarNombreItemController(data.id)">Cambiar Nombre</button>
      </div>
    </div>
  </div>
</div>